.memberships {
  background-color: $color-ghost-white;
  position: relative;

  &::before {
    content: "";
    width: 285px;
    height: 493px;
    position: absolute;
    bottom: -151px;
    right: 0;
    background: center/contain no-repeat;

    @media (min-width: 1200px) {
      background-image: url("../img/barbell-pancakes-desktop.png");

      @supports (background-image: url("../img/barbell-pancakes-desktop.webp")) {
        background-image: url("../img/barbell-pancakes-desktop.webp");
      }

      @include retina {
        background-image: url("../img/barbell-pancakes-desktop@2x.png");

        @supports (background-image: url("../img/barbell-pancakes-desktop@2x.webp")) {
          background-image: url("../img/barbell-pancakes-desktop@2x.webp");
        }
      }
    }

    @include vp-1199 {
      width: 349px;
      height: 443px;
      bottom: -126px;
      background-image: url("../img/barbell-pancakes-tablet.png");

      @supports (background-image: url("../img/barbell-pancakes-tablet.webp")) {
        background-image: url("../img/barbell-pancakes-tablet.webp");
      }

      @include retina {
        background-image: url("../img/barbell-pancakes-tablet@2x.png");

        @supports (background-image: url("../img/barbell-pancakes-tablet@2x.webp")) {
          background-image: url("../img/barbell-pancakes-tablet@2x.webp");
        }
      }
    }

    @include vp-767 {
      display: none;
    }
  }

  &__container {
    padding-top: 120px;
    padding-bottom: 120px;

    @include vp-1199 {
      padding-top: 106px;
      padding-bottom: 97px;
    }

    @include vp-767 {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }

  h2 {
    font-family: $ff-alumni-sans;
    font-size: 54px;
    line-height: 65px;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 17px;
    text-align: center;
    transform: translateX(-3px);

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      transform: translateX(-7px);
      margin-bottom: 21px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      transform: translateX(-6px);
      margin-bottom: 22px;
    }
  }
}
