.promo {
  &__container {
    padding-top: 120px;
    padding-bottom: 53px;
    display: flex;

    @include vp-1199 {
      padding-top: 101px;
      padding-bottom: 50px;
    }

    @include vp-767 {
      padding-top: 70px;
      padding-bottom: 35px;
      flex-direction: column;
    }
  }
}

.promo__description {
  flex-shrink: 0;
  background-color: $color-torch-red;
  color: $color-default-white;
  padding: 85px 77px;
  display: flex;
  flex-wrap: wrap;
  width: 500px;

  @include vp-1199 {
    padding: 51px 44px 50px;
    width: 292px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.promo__description h2 {
  font-family: $ff-alumni-sans;
  font-size: 82px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-right: 51px;
  margin-bottom: 28px;
  max-width: 201px;

  @include vp-1199 {
    font-size: 48px;
    line-height: 46px;
    max-width: 117px;
    margin-right: 30px;
    margin-bottom: 10px;
  }

  @include vp-767 {
    margin-right: 28px;
  }
}

.promo__description h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 45px;
  order: 1;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 30px;
  }
}

.promo__description dl {
  margin: 0;
  margin-top: -2px;

  dt {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 6px;

    @include vp-1199 {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 5px;
    }

    &::after {
      content: "";
      display: block;
      width: 64px;
      height: 1px;
      background-color: $color-default-white;
      margin-top: 3px;

      @include vp-1199 {
        width: 42px;
      }
    }

    &:nth-of-type(2)::after {
      width: 88px;

      @include vp-1199 {
        width: 56px;
      }
    }
  }

  dd {
    font-size: 40px;
    line-height: 28px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 23px;

    @include vp-1199 {
      font-size: 24px;
      line-height: 17px;
      margin-bottom: 10px;
    }

    span {
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      display: inline-block;
      max-width: 45px;
      margin-left: 7px;

      @include vp-1199 {
        font-size: 10px;
        line-height: 10px;
        margin-left: 4px;
        max-width: 30px;
      }
    }
  }
}

.promo__description a {
  cursor: pointer;
  border: 4px solid;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 27px;
  padding-bottom: 23px;
  order: 2;
  text-align: center;
  width: 100%;

  @include vp-1199 {
    font-size: 10px;
    line-height: 12px;
    border-width: 2px;
    padding: 13px;
    padding-bottom: 12px;
  }

  @include hover-focus {
    background-color: $color-sapphire;
    transition: $tf-default;
  }
}

.promo img {
  object-fit: cover;
  height: 100%;
}
