.tabs__controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 46px;
  margin: 0 auto;
  width: min-content;
  margin-bottom: 39px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $color-grey;
  }

  @include vp-1199 {
    gap: 54px;
    margin-bottom: 44px;
  }

  @include vp-767 {
    gap: 45px;
    margin-bottom: 35px;
  }
}

.tabs__control {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: normal;
  width: max-content;
  border: none;
  opacity: 0.5;
  justify-content: center;
  padding: 0;
  padding-bottom: 11px;
  border-bottom: 2px solid transparent;

  @include hover-focus {
    color: $color-crimson;
  }

  &.is-active {
    opacity: 1;
    pointer-events: none;
    box-sizing: border-box;
    border-bottom: 2px solid $color-crimson;
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }
}

.tabs__content {
  transition: height 0.3s;
}

.tabs__element {
  width: 100%;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 0;
    list-style: none;
    padding: 0;

    @include vp-1199 {
      grid-template-columns: 1fr;
      padding-left: 118px;
      padding-right: 118px;
      gap: 40px;
    }

    @include vp-767 {
      padding: 0;
      gap: 33px;
    }
  }

  li {
    background-color: $color-default-white;
    padding: 56px 0 59px;
    text-align: center;
    border: 7px solid transparent;
    display: flex;
    flex-direction: column;

    @include vp-767 {
      padding-top: 45px;
      padding-bottom: 48px;
    }

    h3 {
      font-size: 26px;
      font-weight: 700;
      line-height: 29px;
      margin: 0;
      margin-bottom: 9px;
      padding: 0 30px;

      @include vp-767 {
        font-size: 22px;
        line-height: 24px;
      }
    }

    p {
      margin: 0;
      margin-bottom: 90px;
      padding: 0 30px;

      @include vp-767 {
        margin-bottom: 54px;
      }
    }

    b {
      position: relative;
      display: block;
      color: $color-egyptian-blue;
      font-size: 60px;
      line-height: 42px;
      z-index: 10;
      margin-bottom: 58px;
      padding: 0 30px;

      &::after {
        content: "";
        width: 30px;
        height: 42px;
        display: inline-block;
        margin-left: 14px;
        background: url("../img/sprite/rouble.svg") center/contain no-repeat;
      }

      &::before {
        content: attr(value);
        position: absolute;
        width: 203px;
        height: 69px;
        color: $color-whisper;
        font-size: 100px;
        font-weight: 700;
        z-index: -1;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      @include vp-767 {
        font-size: 48px;
        line-height: 72px;
        transform: translateX(1px);
        margin-bottom: 29px;

        &::after {
          width: 24px;
          height: 33px;
          margin-left: 11px;
        }

        &::before {
          width: 162px;
          height: 55px;
          font-size: 80px;
          top: -20px;
        }
      }
    }

    a {
      color: $color-sapphire;
      display: block;
      padding: 24px;
      padding-top: 25px;
      border: 2px solid $color-sapphire;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 0.05em;
      align-self: center;
      min-width: 208px;

      @include hover-focus {
        background: $color-sapphire;
      }
    }

    &:hover {
      border: 7px solid;
      border-image: $border-gradient;
      border-image-slice: 1;
      padding-bottom: 58px;

      @include vp-767 {
        padding-bottom: 47px;
      }

      a {
        background: $button-gradient;
        border: none;
        padding-top: 27px;
        padding-bottom: 26px;
        color: $color-default-white;
      }
    }
  }
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
