.video__preview {
  position: relative;
}

.video__button {
  width: 100px;
  height: 100px;
  background: url("../img/sprite/play.svg") center/contain;
  border: none;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  @include vp-1199 {
    width: 73px;
    height: 73px;
  }

  @include hover-focus {
    transition: $trans-default;
    transform: scale(1.1);
  }
}
